{% extends "layout.html" %}

{% block title %}
    Jobs Posted
{% endblock %}

{% block main %}

<h1>Jobs</h1>
    <p>Please see open job positions and descriptions below. Please fill in a profile if you are interested in joining the team.</p>

    <h2>Job 1</h2>
    <ul>
        <li>Start date: 16 June 2019</li>
        <li>Salary: R400 000 per annum</li>
    </ul>
    <p>Responsibilities:
    <ol>
        <li>Regularly balance education portfolio budgets.</li>
        <li>Write reports.</li>
        <li>Organise recruitment of new staff.</li>
    </ol></p>
    <p>Education and Experience
    <ol>
        <li>Bachelor's in Education.</li>
        <li>5 years' teaching experience.</li>
        <li>Experience with budget management.</li>
        <li>Xhosa language skills advantageous.</li>
    </ol></p>

    <h2>Job 2</h2>
    <ul>
        <li>Start date: 16 June 2019</li>
        <li>Salary: R400 000 per annum</li>
    </ul>
    <p>Responsibilities:
    <ol>
        <li>Regularly balance education portfolio budgets.</li>
        <li>Write reports.</li>
        <li>Organise recruitment of new staff.</li>
    </ol></p>
    <p>Education and Experience
    <ol>
        <li>Bachelor's in Education.</li>
        <li>5 years' teaching experience.</li>
        <li>Experience with budget management.</li>
        <li>Xhosa language skills advantageous.</li>
    </ol></p>


{% endblock %}