{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h1>Applicant Login</h1>
<p>
    If you've already registered for an account, please login here. If not, please register first.
</p>
    <form action="/login" method="post">
        <div class="form-group">
            <input id="emptyfield" autocomplete="off" autofocus class="form-control" name="email" placeholder="Email address" type="email" required>
        </div>
        <div class="form-group">
            <input id="emptyfield" class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <p>
        Not an applicant? Login through the <a href="/stafflogin">staff portal</a>.
    </p>

{% endblock %}
